#page_title {
    color: #D67929;
    text-align: center;
    margin: 40px;
    font-weight: bold;
}
html{
    background-color: #2986D6;
}
.receipes {
    display: inline-block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 33%;
}

.images {
    margin: 20px;
}

 .images img {
    height: 300px;
    width: 300px;
}

.links {
    text-align: center;
    margin: 10px;
}

.links a {
    color: #D67929;
    font-weight: bold;
}